doctype html
html(lang="en")

  //- Variable block for page-specific info
  block vars
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title #{title} - why.az
    meta(name="description", content=description)

    if bodyClass !== 'utility'
      meta(property='og:type',  content='website')
      meta(name='twitter:card', content='summary')
      meta(content='@lynnandtonic', name='twitter:site')
      meta(content='@lynnandtonic', name='twitter:creator')
      meta(content=title + ' — why.az', name='twitter:title', property='og:title')
      meta(content=description, name='twitter:description', property='og:description')
      meta(content='https://why.az/images/whyaz-thumb.png', property='og:image')
      meta(content='https://why.az/images/whyaz-thumb.png', name='twitter:image')
      if bodyClass !== 'home'
        meta(content='https://why.az/' + pagePath, property='og:url')
        meta(content='https://why.az/' + pagePath, property='twitter:url')
      else
        meta(content='https://why.az', property='og:url')
        meta(content='https://why.az', property='twitter:url')

    if bodyClass == 'home'
      link(rel='stylesheet', href='/public/css/home.css')
    else
      link(rel='stylesheet', href='/public/css/main.css')
      
    script(src="//use.typekit.net/lxz5yej.js")
    script try{Typekit.load({ async: true });}catch(e){}

  body(class=bodyClass)

    if bodyClass !== 'weather'
      nav.nav-main
        .nav-link-group
          h1
            a.nav-link(href="/") WhyAZ
            span.desc Reasons to live and work in Arizona.
        .nav-link-group
          a.nav-link(href="/community/") Community
          a.nav-link(href="/contribute/") Contribute
          a.nav-link(href="/weather") Weather

    block content

    block scripts

    include includes/ga.html
